


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem 0;
  background-image: linear-gradient(to right, rgb(55, 7, 109), rgb(223, 161, 28));
}

.container {
  margin: 0 auto;
  width: 75%;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 2px 6px 10px 4px rgb(41, 41, 41);
}

@media only screen and (min-width: 820px) {
  .container {
    width: 35%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 820px) {
  .container {
    width: 60%;
  }
}

.output {
  display: flex;
  flex-direction: column;
  align-items: end;
  line-height: 1.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  width: 98%;
  padding: 1rem;
  color: white;
  background-color: black;
  margin: 1rem auto 1.5rem auto;
  border-radius: 3px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: minmax(5rem, auto) repeat(4, 5rem);
}

.buttons-grid button {
  outline: none;
  appearance: none;
  cursor: pointer;
  border: solid 2px purple;
  border-radius: 10px;
  margin: 0.15rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.buttons-grid button:hover {
  background-color: lightgrey;
}

.buttons-grid button:active {
  background-color: rgb(20, 20, 20);
  color: white;
  box-shadow: 0px 3px 2px 2px rgb(78, 78, 78);
}

.span-2 {
  grid-column: span 2;
}